/*

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

*/

body {
    background-color: #333333;
}

label {
	color: white;
}

.mb-1 {
	color: black;
}

.whiteboardname{
	font-family: 'orbitron';
	margin-top: 10px;
	margin-left: 40px;
	color: white;
}

.username{
	font-family: 'orbitron'; 
	margin-top: 10px; 
	margin-right: 40px; 
	text-align: right;
	color: white
}

.theme-title {
	font-family: 'orbitron';
	text-align: center;
	color: white;
}

.pagename{
	font-family: 'orbitron';
	margin-top: 10px;
	margin-right: 40px;
	text-align: right;
	color: white;
}

.copyright{
	margin-top: 20px;
	text-align: center;
	color: white;
}
