/*

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

*/

@font-face{										/* First Font */
	font-family: orbitron;
	src: url(../font/Orbitron-Regular.ttf);
}

fieldset.inlineLabels ul {
	list-style: none;
}

.whiteboardnameindex{
	font-family: 'orbitron';
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.whiteboardname{
	font-family: 'orbitron';
	margin-top: 10px;
	margin-left: 40px;
}

.username{
	font-family: 'orbitron'; 
	margin-top: 10px; 
	margin-right: 40px; 
	text-align: right;
}

.pagename{
	font-family: 'orbitron';
	margin-top: 10px;
	margin-right: 40px;
	text-align: right;
}

.theme-title {
	font-family: 'orbitron';
	text-align: center;
}

.nav-link, .navbar-text{
	font-size: 22px;
	margin-left: 20px;
}

.container{
	max-width: 500;
}

.regcontainer{
	max-width: 600;
	margin-left: auto;
	margin-right: auto;
}

.copyright{
	margin-top: 20px;
	text-align: center;
}

.buttoncontainer{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
}

.contentsblock{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
}

.unitsettingsblock{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 50px;
}

.selectoptions{
	margin-top: 10px;
}

.nav-logout{
	margin-right: 30px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #007aff;
}

.registration{
	font-family: 'orbitron';
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30;
	text-decoration: underline;
}

.addselections{
	margin-left: 40px;
	margin-right: 40px;
}

#remove_button.btn.btn-primary active{
	background-color: #cc0000;
	border-color: #bf0000;
}

#remove_button.btn.btn-primary hover{
	background-color: #d90000;
	border-color: #cc0000;
}