<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_home.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">ERROR</h3>
<div class="buttoncontainer">
	<div class="card text-center">
		<div class="card-header">
			Not Found
		</div>
		<div class="card-body">
			<h5 class="card-title">Error 404</h5>
			<p class="card-text">This page does not exist.</p>
			<a href="/home" class="btn btn-primary">Go back to Home</a>
		</div>
		<div class="card-footer text-muted"></div>
	</div>
</div>
{% endblock %}

		