<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">{{uform.unit_id.value}} | ADD AN ASSESSMENT</h3>

<div class="contentsblock">
	<form action="/addassessment/" method="POST">
		{% csrf_token %}
		<input type="hidden" name="unit_name" value="{{uform.unit_name.value}}" readonly>
		<div class="form-group">
			<label for="unit_id">Unit ID</label>
			<input class="form-control" id="unit_id" type="text" name="unit_id" maxlength="500" value="{{uform.unit_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="due_date">Due Date</label>
			<input class="form-control" id="due_date" type="datetime-local" step="1" name="due_date" placeholder="Pick a date and time" required>
		</div> 
		<div class="form-group">
			<label for="submissions_permitted">Submissions Permitted</label>
			<input class="form-control" id="submissions_permitted" type="number" name="submissions_permitted" maxlength="500" placeholder="How many submissions are permitted?" required>
		</div> 
		<div class="form-group">
			<label for="marks">Marks</label>
			<input class="form-control" id="marks" type="number" name="marks" maxlength="500" placeholder="Maximum number of available marks?" required>
		</div> 
		<div class="form-group">
			<label for="year">Year</label>
			<input class="form-control" id="year" type="number" name="year" maxlength="500" value="{{uform.year.value}}" readonly>
		</div>
		<div class="form-group">
		<label for="semester">Semester</label>
			{% if uform.semester.value == '3' %}
				<input class="form-control" id="semester" type="number" name="semester" maxlength="500" placeholder="Summer" readonly>
				<input type="hidden" name="semester" value="{{uform.semester.value}}" readonly>
			{% else %}
				<input class="form-control" id="semester" type="number" name="semester" maxlength="500" placeholder="Semester {{uform.semester.value}}" readonly>
				<input type="hidden" name="semester" value="{{uform.semester.value}}" readonly>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="test_input">Test Input</label>
			<input class="form-control" id="test_input" type="text" name="test_input" maxlength="500" placeholder="Test Input?" value="''">
		</div> 
		<div class="form-group">
			<label for="expected_output">Expected Output</label>
			<input class="form-control" id="expected_output" type="text" name="expected_output" maxlength="500" placeholder="Expected Output?" required>
		</div> 
		<div class="form-group">
		<label for="language">Language</label>
		<select class="form-control" id="language" name="language">
			<option value="java" selected>Java</option>
			<option value="sql">MySQL</option>
			<option value="python2">Python2</option>
			<option value="python3">Python3</option>
			<option value="c">C</option>
			<option value="cpp">C++</option>
		</select>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input class="form-control" id="description" type="text" name="description" maxlength="1000" placeholder="Description" value="''">
		</div>
		
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to add this assessment?');"></input>
				<input class="btn btn-primary" href="#" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-right: 0; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard this assessment?');" formnovalidate></input>
			</div>
		</div>
	</form>
	<div class="dropdown-divider"></div>
</div>

<h3 class="pagename">UPLOAD ASSESSMENTS</h3>
<div class="contentsblock">
	<form action="/upload_xml_assessments/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="unit_name" value="{{uform.unit_name.value}}" readonly>
		<input type="hidden" name="unit_id" value="{{uform.unit_id.value}}" readonly>
		<input type="hidden" name="year" value="{{uform.year.value}}" readonly>
		<input type="hidden" name="semester" value="{{uform.semester.value}}" readonly>
		<input class="form-control" type="text" name="title" id="title" placeholder="Attachment Title" style="width: 50%;">
		<input type="file" id="uploadfile" name="uploadfile" enctype="multipart/form-data" style="width: 100%">
		
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="upload_button" value="UPLOAD" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to upload and add these units?');"></input>
				<input class="btn btn-primary" href="#" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard these units?');" formnovalidate></input>
			</div>
		</div>
	</form>
</div>

<script>
    document.getElementById("uploadfile").onchange = function(){
        // single file selection, get the first file in the array
        document.getElementById("title").value = this.files[0].name; 
    }
</script>
{% endblock %}
		