<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">ADD A STUDENT</h3>

<div class="contentsblock">
	<form method="POST" action="/addstudent/">
		{% csrf_token %}
		<div class="form-group">
			<label for="student_id">Student ID</label>
			<input class="form-control" id="student_id" type="text" name="student_id" maxlength="500" placeholder="ID" required>
		</div>
		<div class="form-group">
			<label for="name">Student Name</label>
			<input class="form-control" id="name" type="text" name="name" maxlength="150" placeholder="Student Name" required>
		</div>
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to add this student?');"></input>
				<a class="btn btn-primary" href="/students/" role="button" style="width: 49%; margin-right: 0; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard this student?');" formnovalidate>CANCEL</a>
			</div>
		</div>
	</form>
	<div class="dropdown-divider"></div>
</div>

<h3 class="pagename">UPLOAD STUDENTS</h3>
<div class="contentsblock">
	<form action="/upload_csv_students/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input class="form-control" type="text" name="title" id="title" placeholder="Attachment Title" style="width: 50%;">
		<input type="file" id="uploadfile" name="uploadfile" enctype="multipart/form-data" style="width: 100%">
		
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="upload_button" value="UPLOAD" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to upload and add these students?');"></input>
				<a class="btn btn-primary" href="/students/" role="button" style="width: 49%; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard this student?');" formnovalidate>CANCEL</a>
			</div>
		</div>
	</form>
</div>	

<script>
    document.getElementById("uploadfile").onchange = function(){
        // single file selection, get the first file in the array
        document.getElementById("title").value = this.files[0].name; 
    }
</script>
{% endblock %}
		