<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">ADD A UNIT</h3>

<div class="contentsblock">
	<form action="/addunit/" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="unit_id">Unit ID</label>
			<input class="form-control" id="unit_id" type="text" name="unit_id" maxlength="500" placeholder="Unit ID" required>
		</div>
		<div class="form-group">
			<label for="unit_name">Unit Name</label>
			<input class="form-control" id="unit_name" type="text" name="unit_name" maxlength="500" placeholder="Unit Name" required>
		</div>
		<div class="form-group">
			<label for="year">Year</label>
			<select class="form-control" id="year" name="year">
				<option value="2018" selected>2018</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2020">2021</option>
			</select>
		</div>
		<div class="form-group">
			<label for="semester">Semester</label>
			<select class="form-control" id="year" name="semester" >
				<option value="1" selected>Semester 1</option>
				<option value="2">Semester 2</option>
				<option value="3">Summer</option>
			</select>
		</div>
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to add this unit?');"></input>
				<input class="btn btn-primary" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-right: 0; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard this unit?');" formnovalidate></input>
			</div>
		</div>
	</form>
	<div class="dropdown-divider"></div>
</div>

<h3 class="pagename">UPLOAD UNITS</h3>
<div class="contentsblock">
	<form action="/upload_csv_units/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input class="form-control" type="text" name="title" id="title" placeholder="Attachment Title" style="width: 50%;">
		<input type="file" id="uploadfile" name="uploadfile" enctype="multipart/form-data" style="width: 100%">
		
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="upload_button" value="UPLOAD" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to upload and add these units?');"></input>
				<input class="btn btn-primary" href="#" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard these units?');" formnovalidate></input>
			</div>
		</div>
	</form>
</div>	

<script>
    document.getElementById("uploadfile").onchange = function(){
        // single file selection, get the first file in the array
        document.getElementById("title").value = this.files[0].name; 
    }
</script>
{% endblock %}
		