<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_home.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">{{form.unit_id.value}} | ASSESSMENTS</h3>

<form class="form-inline my-2 my-lg-0" method="POST" action="/assessments/">
	{% csrf_token %}
	<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
	<input type="hidden" name="year" value="{{form.year.value}}" readonly>
	<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
	<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
	<select class="form-control" id="filteroption" name="filteroption" style="width: 10%; margin-left: 40px; margin-right: 10px;">
		<option value="search_assessment_id">Assessment ID</option>
	</select>
	<input class="form-control mr-sm-2" name="search" id="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button>
</form>

<div class="unitsettingsblock">
	{% for assessments in assessments_list %}
	<form name="assessment" method="POST" action="/assessmentToForm/">
		<a class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				{% csrf_token %}
				<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
				<input type="hidden" name="year" value="{{form.year.value}}" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
				<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
				<h5 class="mb-1">Assessment ID: <input type="hidden" name="assessment_id" value="{{assessments.assessment_id}}" readonly>{{ assessments.assessment_id }}</input></h5>
				{% if assessments.semester == '3' %}
					<small class="text-muted"><input type="hidden" name="unit_id" value="{{assessments.unit_id}}" readonly>{{assessments.unit_id}}</input> | <input type="hidden" name="semester" value="{{assessments.semester}}" readonly>Summer {{assessments.year}}</input></small>
				{% else %}
					<small class="text-muted"><input type="hidden" name="unit_id" value="{{assessments.unit_id}}" readonly>{{assessments.unit_id}}</input> | Semester <input type="hidden" name="semester" value="{{assessments.semester}}" readonly>{{assessments.semester}} {{assessments.year}}</input></small>
				{% endif %}
			</div>
			<p class="mb-1"><input type="hidden" name="description" value="{{ assessments.description }}" readonly>{{ assessments.description }}</input></p>
			{% if assessments.language == 'java' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="java" readonly>Java</input></p>
			{% elif assessments.language == 'sql' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="sql" readonly>MySQL</input></p>
			{% elif assessments.language == 'python2' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="python2" readonly>Python2</input></p>
			{% elif assessments.language == 'python3' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="python3" readonly>Python3</input></p>
			{% elif assessments.language == 'c' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="c" readonly>C</input></p>
			{% elif assessments.language == 'cpp' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="cpp" readonly>C++</input></p>
			{% endif %}
			<small class="text-muted">Marks Available: <input type="hidden" name="marks" value="{{assessments.marks}}" readonly>{{assessments.marks}}</input> | Due Date: <input type="hidden" name="due_date" value="{{assessments.due_date}}" readonly>{{assessments.due_date}}</input></small>
			<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 24%; float:right;" id="submit_button"></input><input class="btn btn-primary" href="#" type="submit" name="view_button" value="VIEW SUBMISSIONS" role="button" style="width: 24%; float:right; margin-right:2px;" id="view_button"></input>
		</a>
	</form>
	{% endfor %}
</div>
{% endblock %}