<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">{{form.unit_id.value}} | ASSESSMENT SETTINGS</h3>

<form class="form-inline my-2 my-lg-0" method="POST" action="/assessmentsettings/">
	{% csrf_token %}
	<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
	<input type="hidden" name="year" value="{{form.year.value}}" readonly>
	<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
	<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
	<select class="form-control" id="filteroption" name="filteroption" style="width: 10%; margin-left: 40px; margin-right: 10px;">
		<option value="search_assessment_id">Assessment ID</option>
	</select>
	<input class="form-control mr-sm-2" name="search" id="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button><input class="btn btn-primary" href="#" type="submit"  name="add_button" value="ADD AN ASSESSMENT" role="button" style="width: 49%; float:right; margin-left: 16%;" id="add_button"></input>
</form>

<div class="unitsettingsblock">
	{% for assessments in assessments_list %}
	<form name="assessment" method="POST" action="/assessmentToEdit/" >
		<a  class="list-group-item list-group-item-action flex-column align-items-start">
			<input class="form-control" id="year" type="hidden" name="year" maxlength="500" value="{{assessments.year}}" readonly>
			<div class="d-flex w-100 justify-content-between">
				{% csrf_token %}
				<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
				<input type="hidden" name="year" value="{{form.year.value}}" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
				<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
				<h5 class="mb-1">Assessment ID: <input type="hidden" name="assessment_id" value="{{assessments.assessment_id}}" readonly>{{ assessments.assessment_id }}</input></h5>
				{% if assessments.semester == 3 %}
					<small class="text-muted"><input type="hidden" name="unit_id" value="{{assessments.unit_id}}" readonly>{{assessments.unit_id}}</input> | <input type="hidden" name="semester" value="3" readonly>Summer </input><input type="hidden" name="year" value="{{assessments.year}}" readonly>{{assessments.year}}</input></small>
				{% else %}
					<small class="text-muted"><input type="hidden" name="unit_id" value="{{assessments.unit_id}}" readonly>{{assessments.unit_id}}</input> | Semester <input type="hidden" name="semester" value="{{assessments.semester}}" readonly>{{assessments.semester}} </input><input type="hidden" name="year" value="{{assessments.year}}" readonly>{{assessments.year}}</input></small>
				{% endif %}
			</div>
			
			{% if assessments.description == '' %}
				<p class="mb-1"><input type="hidden" name="description" value="''" readonly>{{ assessments.description }}</input></p>
			{% else %}
				<p class="mb-1"><input type="hidden" name="description" value="{{ assessments.description }}" readonly>{{ assessments.description }}</input></p>
			{% endif %}
			
			{% if assessments.test_input == '' %}
			<p class="mb-1"><input type="hidden" name="test_input" value="''" readonly>Test Input: {{ assessments.test_input }}</input></p>
			{% else %}
			<p class="mb-1"><input type="hidden" name="test_input" value="{{ assessments.test_input }}" readonly>Test Input: {{ assessments.test_input }}</input></p>
			{% endif %}
			
			<p class="mb-1"><input type="hidden" name="expected_output" value="{{ assessments.expected_output }}" readonly>Expected Output: {{ assessments.expected_output }}</input></p>
			
			{% if assessments.language == 'java' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="java" readonly>Java</input></p>
			{% elif assessments.language == 'sql' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="sql" readonly>MySQL</input></p>
			{% elif assessments.language == 'python2' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="python2" readonly>Python2</input></p>
			{% elif assessments.language == 'python3' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="python3" readonly>Python3</input></p>
			{% elif assessments.language == 'c' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="c" readonly>C</input></p>
			{% elif assessments.language == 'cpp' %}
				<p class="mb-1">Language: <input type="hidden" name="language" value="cpp" readonly>C++</input></p>
			{% endif %}
			
			<small class="text-muted">Marks Available: <input type="hidden" name="marks" value="{{assessments.marks}}" readonly>{{assessments.marks}}</input> | Due Date: <input type="hidden" name="due_date" value="{{assessments.due_date}}" readonly>{{assessments.due_date}}</input> | Submissions Permitted: <input type="hidden" name="submissions_permitted" value="{{assessments.submissions_permitted}}" readonly>{{assessments.submissions_permitted}}</input></small>
			
			<input class="btn btn-primary" href="#" type="submit" name="remove_button" value="REMOVE" role="button" style="width: 16%; float:right;" id="remove_button" onclick="return confirm('Are you sure you want to remove Assessment {{ assessments.assessment_id }}?');"></input><input class="btn btn-primary" href="#" type="submit" name="download_button" value="DOWNLOAD" role="button" style="width: 16%; float:right; margin-right:2px;" id="download_button"></input><input class="btn btn-primary" href="#" type="submit" name="edit_button" value="EDIT" role="button" style="width: 16%; float:right; margin-right:2px;" id="edit_button"></input>
		</a>
	</form>
	{% endfor %}
</div>
{% endblock %}
		