{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">DOWNLOAD ASSESSMENT</h3>

<div class="unitsettingsblock">
	<input class="btn btn-primary" href="#" type="button" name="dl_submissions" value="DOWNLOAD ASSESSMENT" role="button" style="width: 49%; float:right; margin-left: 16%;" id="dl_submissions" onclick="window.open('/download_xml_assessments/')"></input>
</div>
{% endblock %}
		