<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">EDIT SUBMISSION</h3>

<div class="contentsblock">
	<form action="/editsubmission/" method="POST">
		{% csrf_token %}		
		<input type="hidden" name="unit_id" value="{{uform.unit_id.value}}" readonly>
		<input type="hidden" name="year" value="{{uform.year.value}}" readonly>
		<input type="hidden" name="semester" value="{{uform.semester.value}}" readonly>
		<input type="hidden" name="unit_name" value="{{uform.unit_name.value}}" readonly>
		
		<input type="hidden" name="marks" value="{{aform.marks.value}}" readonly>
		<input type="hidden" name="description" value="{{aform.description.value}}" readonly>
		<input type="hidden" name="language" value="{{aform.language.value}}" readonly>
		<input type="hidden" name="due_date" value="{{aform.due_date.value}}" readonly>
		
		<div class="form-group">
			<label for="submission_id">Submission ID</label>
			<input class="form-control" id="submission_id" type="text" name="submission_id" maxlength="500" value="{{form.submission_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="student_id">Student ID</label>
			<input class="form-control" id="student_id" type="text" name="student_id" maxlength="500" value="{{form.student_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="assessment_id">Assessment ID</label>
			<input class="form-control" id="assessment_id" type="text" name="assessment_id" maxlength="500" value="{{form.assessment_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="submission">Submission</label>
			<input class="form-control" id="submission" type="text" name="submission" maxlength="500" value="{{form.submission.value}}" rows="15" readonly>
		</div>
		<div class="form-group">
			<label for="mark">Mark</label>
			{% if form.mark.value == '' %}
			<input class="form-control" id="mark" type="number" name="mark" maxlength="500" value="0" required>
			{% else %}
			<input class="form-control" id="mark" type="number" name="mark" maxlength="500" value="{{form.mark.value}}" required>
			{% endif %}
		</div> 
		<div class="form-group">
			<label for="feedback">Feedback</label>
			{% if form.feedback.value == '' %}
			<input class="form-control" id="feedback" type="text" name="feedback" maxlength="500" value="''" required>
			{% else %}
			<input class="form-control" id="feedback" type="text" name="feedback" maxlength="500" value="{{form.feedback.value}}" required>
			{% endif %}
		</div>	
		<div class="form-group">
			<label for="running_output">Running Output</label>
			{% if oform.running_output.value == '' %}
			<input class="form-control" id="running_output" type="text" name="running_output" maxlength="500" value="''" readonly>
			{% else %}
			<input class="form-control" id="running_output" type="text" name="running_output" maxlength="500" value="{{oform.running_output.value}}" readonly>
			{% endif %}
		</div> 
		<div class="form-group">
			<label for="memory_usage">Memory Usage</label>
			<input class="form-control" id="memory_usage" type="text" name="memory_usage" maxlength="500" value="{{oform.memory_usage.value}}" readonly>
		</div> 
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to confirm your changes to Submission {{form.submission_id.value}}?');"></input>
				<input class="btn btn-primary" href="#" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard your changes to Submission {{form.submission_id.value}}?');" formnovalidate></input>
			</div>
		</div>
	</form>
</div>
{% endblock %}
		