<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">{{uform.unit_id.value}} | EDIT ASSESSMENT {{aform.assessment_id.value}}</h3>

<div class="contentsblock">
	<form action="/editassessment/" method="POST">
		{% csrf_token %}
		<input type="hidden" name="unit_id" value="{{uform.unit_id.value}}" readonly>
		<input type="hidden" name="year" value="{{uform.year.value}}" readonly>
		<input type="hidden" name="semester" value="{{uform.semester.value}}" readonly>
		<input type="hidden" name="unit_name" value="{{uform.unit_name.value}}" readonly>
		<input type="hidden" name="assessment_id" value="{{aform.assessment_id.value}}" readonly></input>
		<div class="form-group">
			<label for="unit_id">Unit ID</label>
			<input class="form-control" id="unit_id" type="text" name="unit_id" maxlength="500" value="{{form.unit_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="due_date">Due Date</label>
			<input class="form-control" id="due_date" type="datetime-local" step="1" name="due_date" value="{{form.due_date.value}}" required>
		</div> 
		<div class="form-group">
			<label for="submissions_permitted">Submissions Permitted</label>
			<input class="form-control" id="submissions_permitted" type="number" name="submissions_permitted" maxlength="500" value="{{form.submissions_permitted.value}}" required>
		</div> 
		<div class="form-group">
			<label for="marks">Marks</label>
			<input class="form-control" id="marks" type="number" name="marks" maxlength="500" value="{{form.marks.value}}" required>
		</div> 
		<input type="hidden" name="year" value="{{form.year.value}}" readonly></input>
		<input type="hidden" name="semester" value="{{form.semester.value}}" readonly></input>
		<div class="form-group">
			<label for="year">Year</label>
			<input class="form-control" id="year" type="text" name="year" maxlength="500" value="{{form.year.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="semester">Semester</label>
			{% if form.semester.value == '3' %}
				<input class="form-control" id="semester" type="text" name="semester" maxlength="500" placeholder="Summer" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			{% else %}
				<input class="form-control" id="semester" type="text" name="semester" maxlength="500" placeholder="Semester {{form.semester.value}}" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="test_input">Test Input</label>
			{% if form.test_input.value == '' %}
				<input class="form-control" id="test_input" type="text" name="test_input" maxlength="500" value="''" required>
			{% else %}
				<input class="form-control" id="test_input" type="text" name="test_input" maxlength="500" value="{{form.test_input.value}}" required>
			{% endif %}
		</div> 
		<div class="form-group">
			<label for="expected_output">Expected Output</label>
			<input class="form-control" id="expected_output" type="text" name="expected_output" maxlength="500" value="{{form.expected_output.value}}" required>
		</div> 
		<div class="form-group">
			<label for="language">Language</label>
			<select class="form-control" id="language" name="language">
				{% if form.language.value == 'java' %}
					<option value="java" selected>Java</option>
					<option value="sql">MySQL</option>
					<option value="python2">Python2</option>
					<option value="python3">Python3</option>
					<option value="c">C</option>
					<option value="cpp">C++</option>
				{% elif form.language.value == 'sql' %}
					<option value="java">Java</option>
					<option value="sql" selected>MySQL</option>
					<option value="python2">Python2</option>
					<option value="python3">Python3</option>
					<option value="c">C</option>
					<option value="cpp">C++</option>
				{% elif form.language.value == 'python2' %}
					<option value="java">Java</option>
					<option value="sql">MySQL</option>
					<option value="python2" selected>Python2</option>
					<option value="python3">Python3</option>
					<option value="c">C</option>
					<option value="cpp">C++</option>
				{% elif form.language.value == 'python3' %}
					<option value="java">Java</option>
					<option value="sql">MySQL</option>
					<option value="python2">Python2</option>
					<option value="python3" selected>Python3</option>
					<option value="c">C</option>
					<option value="cpp">C++</option>
				{% elif form.language.value == 'c' %}
					<option value="java">Java</option>
					<option value="sql">MySQL</option>
					<option value="python2">Python2</option>
					<option value="python3">Python3</option>
					<option value="c" selected>C</option>
					<option value="cpp">C++</option>
				{% elif form.language.value == 'cpp' %}
					<option value="java">Java</option>
					<option value="sql">MySQL</option>
					<option value="python2">Python2</option>
					<option value="python3">Python3</option>
					<option value="c">C</option>
					<option value="cpp" selected>C++</option>
				{% endif %}
				
			</select>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input class="form-control" id="description" type="text" name="description" maxlength="1000" value="{{form.description.value}}" required>
		</div>
		
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to confirm your changes to Assessment {{aform.assessment_id.value}}?');"></input>
				<input class="btn btn-primary" href="#" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-left: 2%;" id="signupcancel" formnovalidate></input>
			</div>
		</div>
	</form>
</div>
{% endblock %}
		