<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">EDIT STUDENT</h3>

<div class="contentsblock">
	<form action="/editstudent/" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="student_id">Student ID</label>
			<input class="form-control" id="student_id" type="text" name="student_id" maxlength="500" value="{{form.student_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="name">Student Name</label>
			<input class="form-control" id="name" type="text" name="name" maxlength="150" value="{{form.name.value}}">
		</div>
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to confirm your changes to {{form.student_id.value}}?');"></input>
				<a class="btn btn-primary" href="/students" role="button" style="width: 49%;  margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard your changes to {{form.student_id.value}}?');" formnovalidate>CANCEL</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}
		