<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">{{form.unit_name.value}} | Semester {{form.semester.value}} {{form.year.value}}</h3>

<div class="contentsblock">
	<form action="/editunit/" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="unit_id">Unit ID</label>
			<input class="form-control" id="unit_id" type="text" name="unit_id" maxlength="500" value="{{form.unit_id.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="unit_name">Unit Name</label>
			<input class="form-control" id="unit_name" type="text" name="unit_name" maxlength="500" value="{{form.unit_name.value}}">
		</div>
		<div class="form-group">
			<label for="year">Year</label>
			<input class="form-control" id="year" type="text" name="year" maxlength="500" value="{{form.year.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="semester">Semester</label>
			{% if form.semester.value == '3' %}
				<input class="form-control" id="semester" type="text" name="semester" maxlength="500" placeholder="Summer" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			{% else %}
				<input class="form-control" id="semester" type="text" name="semester" maxlength="500" placeholder="Semester {{form.semester.value}}" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			{% endif %}
		</div>		
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to confirm your changes to [{{form.unit_id.value}}] {{form.unit_name.value}} Semester {{form.semester.value}} {{form.year.value}}?');"></input>
				<input class="btn btn-primary" href="#" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard your changes to [{{form.unit_id.value}}] {{form.unit_name.value}} Semester {{form.semester.value}} {{form.year.value}}?');"></input>
				</div>
		</div>
	</form>
</div>
{% endblock %}
		