<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_home.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">HOME</h3>

<div class="unitsettingsblock">
	{% for units in units_list %}
	<form name="unit" method="POST" action="/assessments/">
		<a class="list-group-item list-group-item-action flex-column align-items-start">
			{% csrf_token %}
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1"><input type="hidden" name="unit_name" value="{{units.unit_name}}" readonly>{{units.unit_name}}</input></h5>
				<small class="text-muted"><input type="hidden" name="unit_id" value="{{units.unit_id}}" readonly>{{units.unit_id}}</input></small>
			</div>
			{% if units.semester == 3 %}
				<p class="mb-1"><input type="hidden" name="semester" value="{{units.semester}}" readonly>Summer</input></p>
			{% else %}
				<p class="mb-1">Semester <input type="hidden" name="semester" value="{{units.semester}}" readonly>{{ units.semester }}</input></p>
			{% endif %}
			<small class="text-muted"><input type="hidden" name="year" value="{{units.year}}" readonly>{{units.year}}</input></small>
			<input class="btn btn-primary disabled" href="#" type="#" name="view_button" value="UNIT MATERIALS" role="button" style="width: 16%; float:right; margin-right:2px;" id="view_button"></input><input class="btn btn-primary" href="#" type="submit" name="assessments_button" value="ASSESSMENTS" role="button" style="width: 16%; float:right; margin-right:2px;" id="assessments_button"></input><input class="btn btn-primary disabled" href="#" type="#" name="view_button" value="ANNOUNCEMENTS" role="button" style="width: 16%; float:right; margin-right:2px;" id="view_button"></input>
		</a>
	</form>
	{% endfor %}
</div>
{% endblock %}

