<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% load staticfiles %}

{% load auth_extras %}

{% block content %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Whiteboard</title>
  </head>
  
  <body>
	<h1 class="whiteboardnameindex">WHITEBOARD</h1>
	
	<div class="container">	

		<form method="post" action="/" class="px-4 py-3">
		{% csrf_token %}

			{% if form.errors %}
				{% for error_field, error_message in form.errors.items %}
					<p style="color: red">{{error_message|striptags }}</p>
				{% endfor %}
			{% endif %}

			<div class="form-group">
				<label for="username">{{ form.username.label }}</label>
				  {{ form.username|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<label for="password">{{ form.password.label }}</label>
			  	{{ form.password|add_class:"form-control" }}
			</div>

			<div>
				<input class="btn btn-primary" type="submit" name="submit_button" value="LOGIN" role="button" style="width: 100%" id="signupbutton"></input>
			</div>
		</form>

	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="registration/" style="text-align: center;">New around here? Sign up</a>
	  <a class="dropdown-item" href="#" style="text-align: center;">Forgot password?</a>
	</div>
	
	<div class="dropdown-divider"></div>
	
	<footer>
		<p class="copyright"><small>&copy; Copyright 2018. This website is used for an assignment at Curtin University. </small></p>
	</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>
{% endblock %}