<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% load staticfiles %}

{% load auth_extras %}

{% block content %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<title>Whiteboard</title>
	</head>
  
	<body>
		<h1 class="whiteboardnameindex">WHITEBOARD</h1>
		<h1 class="registration">REGISTRATION</h1>
		
		<div class="regcontainer">
			<form method="post">
				{% csrf_token %}

				{% if form.errors %}
					{% for error_field, error_message in form.errors.items %}
						<p style="color: red">{{ error_message|striptags }}</p>
					{% endfor %}
				{% endif %}
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="username">Curtin ID</label>
						<input class="form-control" id="username" type="text" name="username" maxlength="10" style="width: 200%;" placeholder="12345678" required>
					</div>
				</div>
				<div class="form-group">
				<label for="status">Account Type</label>
				<select class="form-control" id="status" name="status">
					<option value="S" selected>Student</option>
					<option value="L">Staff</option>
					<option value="A">Admin</option>
				</select>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="first_name">First Name</label>
						<input class="form-control" id="first_name" type="text" name="first_name" maxlength="64" style="width: 200%;" placeholder="First Name" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="last_name">Last Name</label>
						<input class="form-control" id="last_name" type="text" name="last_name" maxlength="64" style="width: 200%;" placeholder="Last Name" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" id="email" style="width: 200%;" placeholder="12345678@student.curtin.edu.au" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="password1">Password</label>
						<input class="form-control" id="password1" type="password" name="password1" maxlength="64" style="width: 200%;" placeholder="Password" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="password2">Confirm your Password</label>
						<input class="form-control" id="password2" type="password" name="password2" maxlength="64" style="width: 200%;" placeholder="Confirm your password." required>
					</div>
				</div>

				<button class="btn btn-primary" href="#" role="button" style="width: 48%" id="signupbutton" type="submit">SIGN UP</button><a class="btn btn-primary" href="/" role="button" style="width: 48%; margin-left: 2%" id="signupcancel" type="cancel">CANCEL</a>
			</form>

				
			</div>
		</div>
		
		<div class="dropdown-divider"></div>
		
		<footer>
			<p class="copyright"><small>&copy; Copyright 2018. This website is used for an assignment at Curtin University. </small></p>
		</footer>
    </body>
</html>

{% endblock %}