<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">SET ENROLMENT</h3>

<div class="contentsblock">
	<form action="/setenrolment/" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="unit_id">Unit ID</label>
			<input class="form-control" id="unit_id" type="text" name="unit_id" maxlength="500" value="{{form.unit_id.value}}" readonly>
		</div>
		<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly></input>
		<input type="hidden" name="year" value="{{form.year.value}}" readonly></input>
		<input type="hidden" name="semester" value="{{form.semester.value}}" readonly></input>
		<div class="form-group">
			<label for="year">Year</label>
			<input class="form-control" id="year" type="text" name="year" maxlength="500" value="{{form.year.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="semester">Semester</label>
			{% if form.semester.value == '3' %}
				<input class="form-control" id="semester" type="text" name="semester" maxlength="500" placeholder="Summer" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			{% else %}
				<input class="form-control" id="semester" type="text" name="semester" maxlength="500" placeholder="Semester {{form.semester.value}}" readonly>
				<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="student_id">Student ID</label>
			<input class="form-control" id="student_id" type="text" name="student_id" maxlength="500" placeholder="Student ID" required>
		</div>
		<div class="selectoptions">
			<div class="form-row">
				<input class="btn btn-primary" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="signupbutton" onclick="return confirm('Would you like to set this enrolment?')";></input>
				<input class="btn btn-primary" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-left: 2%" id="signupcancel" onclick="return confirm('Would you like to discard this enrolment?')"; formnovalidate></input>
			</div>
		</div>
	</form>
</div>
{% endblock %}
		