<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% load auth_extras %}

{% block content %}
<h3 class="pagename">SETTINGS</h3>
<div class="buttoncontainer">
	{% if request.user|has_group:"Staff Members" or request.user|has_group:"Whiteboard Administrators"%} 
		<a class="btn btn-primary" href="/assessmentsettingshome" role="button" style="width: 100%">ASSESSMENTS</a>
	{% endif %}
	{% if request.user|has_group:"Whiteboard Administrators" %} 
		<a class="btn btn-primary" href="/unitsettings" role="button" style="width: 100%; margin-top: 10;">UNITS</a>
	{% endif %}
	{% if request.user|has_group:"Staff Members" or request.user|has_group:"Whiteboard Administrators"%} 
		<a class="btn btn-primary" href="/submissionsettingshome" role="button" style="width: 100%; margin-top: 10;">SUBMISSIONS</a>
	{% endif %}
	{% if request.user|has_group:"Staff Members" or request.user|has_group:"Whiteboard Administrators"%} 
		<a class="btn btn-primary" href="/enrolments" role="button" style="width: 100%; margin-top: 10;">ENROLMENTS</a>
	{% endif %}
	{% if request.user|has_group:"Staff Members" or request.user|has_group:"Whiteboard Administrators"%} 
		<a class="btn btn-primary" href="/students" role="button" style="width: 100%; margin-top: 10;">STUDENTS</a>
	{% endif %}
	<a class="btn btn-primary" href="/theme" role="button" style="width: 100%; margin-top: 10;">THEME</a>
</div>
{% endblock %}

		