<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_home.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">{{form.unit_id.value}} | Assessment {{form.assessment_id.value}}</h3>

<div class="contentsblock">
	<form action="/submissionform/" method="post">
		{% csrf_token %}
		<input type="hidden" name="unit_id" value="{{uform.unit_id.value}}" readonly>
		<input type="hidden" name="year" value="{{uform.year.value}}" readonly>
		<input type="hidden" name="semester" value="{{uform.semester.value}}" readonly>
		<input type="hidden" name="unit_name" value="{{uform.unit_name.value}}" readonly>
		<input class="form-control" id="assessment_id" type="hidden" name="assessment_id" maxlength="500" value="{{form.assessment_id.value}}" readonly></input>
		<div class="form-group">
			<label for="question">Question</label>
			<input class="form-control" id="question" type="text" name="question" maxlength="500" placeholder="{{form.description.value}}" readonly>
		</div>
		<div class="form-group">
			<label for="language">Language</label>
			{% if form.language.value == 'java' %}
				<input class="form-control" id="language" type="text" name="language" maxlength="500" placeholder="Java" readonly>
			{% elif form.language.value == 'sql' %}
				<input class="form-control" id="language" type="text" name="language" maxlength="500" placeholder="MySQL" readonly>
			{% elif form.language.value == 'python2' %}
				<input class="form-control" id="language" type="text" name="language" maxlength="500" placeholder="Python2" readonly>
			{% elif form.language.value == 'python3' %}
				<input class="form-control" id="language" type="text" name="language" maxlength="500" placeholder="Python3" readonly>
			{% elif form.language.value == 'c' %}
				<input class="form-control" id="language" type="text" name="language" maxlength="500" placeholder="C" readonly>
			{% elif form.language.value == 'cpp' %}
				<input class="form-control" id="language" type="text" name="language" maxlength="500" placeholder="C++" readonly>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="answer">Answer</label>
			<textarea class="form-control" id="answer" type="text" name="answer" maxlength="1000" rows="15" required></textarea>
		</div>
		<div class="form-row">
			<input class="btn btn-primary" type="submit" name="submit_button" value="SUBMIT" role="button" style="width: 49%" id="submit_button" onclick="return confirm('Would you like to submit your submission?');"></input>
			<input class="btn btn-primary" type="submit" name="cancel_button" value="CANCEL" role="button" style="width: 49%; margin-right: 0; margin-left: 2%;" id="signupcancel" onclick="return confirm('Would you like to discard your submission?');" formnovalidate></input>
		</div>
	</form>
</div>
{% endblock %}