<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">SUBMISSION SETTINGS</h3>

<div class="form-row">
	<form class="form-inline my-2 my-lg-0" method="POST" action="/submissionsettingshome/">
		{% csrf_token %}
		<select class="form-control" id="filteroption" name="filteroption" style="width: 27%; margin-left: 40px; margin-right: 10px;">
			<option value="search_unit_id">Unit ID</option>
			<option value="search_unit_name">Unit Name</option>
			<option value="search_year">Year</option>
			<option value="search_semester">Semester</option>
		</select>
		<div class="form-row">
			<input class="form-control mr-sm-2" name="search" id="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button>
		</div>
	</form>
</div>

<div class="unitsettingsblock">
	{% for units in units_list %}
	<form name="unit" method="POST" action="/submission_settings_assessments/">
		<a class="list-group-item list-group-item-action flex-column align-items-start">
			{% csrf_token %}
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1"><input type="hidden" name="unit_name" value="{{units.unit_name}}" readonly>{{units.unit_name}}</input></h5>
				<small class="text-muted"><input type="hidden" name="unit_id" value="{{units.unit_id}}" readonly>{{units.unit_id}}</input></small>
			</div>
			{% if units.semester == 3 %}
				<p class="mb-1"><input type="hidden" name="semester" value="{{units.semester}}" readonly>Summer</input></p>
			{% else %}
				<p class="mb-1">Semester <input type="hidden" name="semester" value="{{units.semester}}" readonly>{{ units.semester }}</input></p>
			{% endif %}
			<small class="text-muted"><input type="hidden" name="year" value="{{units.year}}" readonly>{{units.year}}</input></small>
			<input class="btn btn-primary" href="#" type="submit" name="view_button" value="VIEW ASSESSMENTS" role="button" style="width: 48%; float:right; margin-right:2px;" id="view_button"></input>
		</a>
	</form>
	{% endfor %}
</div>
{% endblock %}

