<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">THEME</h3>

<div class="unitsettingsblock">
	<form method="post" class="px-4 py-3">
		{% csrf_token %}
		<div class="form-group col-md-6" style="margin-left: 25%">
			<div class="form-group">
				<h3 class="theme-title">CHANGE COLOUR SCHEME</h3>
				<select class="form-control" id="theme" name="theme">
					<option value="L" selected>Light</option>
					<option value="D">Dark</option>
				</select>
			</div>
			<input class="btn btn-primary" href="#" type="submit" name="submit_button" value="SAVE" role="button" style="width: 100%" id="signupbutton"></input>
		</div>
	</form>

</div>

{% endblock %}
		