<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">UNIT SETTINGS</h3>

<form class="form-inline my-2 my-lg-0" method="POST" action="/unitsettings/">
	{% csrf_token %}
	<select class="form-control" id="filteroption" name="filteroption" style="width: 10%; margin-left: 40px; margin-right: 10px;">
		<option value="search_unit_id">Unit ID</option>
		<option value="search_unit_name">Unit Name</option>
		<option value="search_year">Year</option>
		<option value="search_semester">Semester</option>
	</select>
	<input class="form-control mr-sm-2" name="search" id="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button><input class="btn btn-primary" href="/addunit" type="submit" name="add_button" value="ADD A UNIT" role="button" style="width: 49%; float:right; margin-left: 16%;" id="add_button"></input>
</form>

<div class="unitsettingsblock">
	{% for units in units_list %}
	<form name="unit" method="POST" action="/unitToEdit/">
		<a class="list-group-item list-group-item-action flex-column align-items-start">
			{% csrf_token %}
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1"><input type="hidden" name="unit_name" value="{{units.unit_name}}" readonly>{{units.unit_name}}</input></h5>
				<small class="text-muted"><input type="hidden" name="unit_id" value="{{units.unit_id}}" readonly>{{units.unit_id}}</input></small>
			</div>
			{% if units.semester == 3 %}
				<p class="mb-1"><input type="hidden" name="semester" value="{{units.semester}}" readonly>Summer</input></p>
			{% else %}
				<p class="mb-1">Semester <input type="hidden" name="semester" value="{{units.semester}}" readonly>{{ units.semester }}</input></p>
			{% endif %}
			<small class="text-muted"><input type="hidden" name="year" value="{{units.year}}" readonly>{{units.year}}</input></small>
			<input class="btn btn-primary" href="#" type="submit" name="remove_button" value="REMOVE" role="button" style="width: 24%; float:right;" id="remove_button" onclick="return confirm('Are you sure you want to remove [{{units.unit_id}}] {{units.unit_name}} Semester {{ units.semester }} {{units.year}}?');"></input><input class="btn btn-primary" href="#" type="submit" name="edit_button" value="EDIT" role="button" style="width: 24%; float:right; margin-right:2px;" id="edit_button"></input>
		</a>
	</form>
	{% endfor %}
</div>
{% endblock %}
		