<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_settings.html" %}

{% load staticfiles %}

{% block content %}

<h3 class="pagename">{{form.unit_id.value}} | VIEW ENROLMENT</h3>

<form class="form-inline my-2 my-lg-0" method="POST" action="/viewenrolments/">
	{% csrf_token %}
	<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
	<input type="hidden" name="year" value="{{form.year.value}}" readonly>
	<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
	<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
	<select class="form-control" id="filteroption" name="filteroption" style="width: 10%; margin-left: 40px; margin-right: 10px;">
		<option value="search_student_id">Student ID</option>
		<option value="search_student_name">Student Name</option>
	</select>
	<input class="form-control mr-sm-2" name="search" id="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button><input class="btn btn-primary" href="#" type="submit"  name="enrol_button" value="ENROL A STUDENT" role="button" style="width: 49%; float:right; margin-left: 16%;" id="enrol_button"></input>
</form>

<div class="unitsettingsblock">
	{% for students in students_list %}
		<form name="students" method="POST" action="/viewenrolments/">
			{% csrf_token %}
			<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
			<input type="hidden" name="year" value="{{form.year.value}}" readonly>
			<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
			<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
			<a class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1"><input type="hidden" name="name" value="{{students.name}}" readonly>{{students.name}}</input></h5>
				</div>
				<small class="text-muted"> <input type="hidden" name="student_id" value="{{students.student_id}}" readonly>{{students.student_id}}</input></small>
				<input class="btn btn-primary" href="#" type="submit" name="remove_button" value="REMOVE" role="button" style="width: 48%; float:right;" id="remove_button" onclick="return confirm('Would you like to remove {{students.name}} ({{students.student_id}}) from this unit?');"></input>
			</a>
		</form>
	{% endfor %}
</div>
{% endblock %}
		