<!--

#
# The Following Source Code is under a Creative Commons Attribution 4.0 International license (CC BY 4.0)
# https://creativecommons.org/licenses/by/4.0/
# You are free to Share - copy and redistribute the material in any medium or format
# Adapt - remix, transform, and build upon the material
# For any purpose, even commercially
#

-->

{% extends "base_home.html" %}

{% load staticfiles %}

{% block content %}
<h3 class="pagename">ASSESSMENT {{aform.assessment_id.value}} | VIEW SUBMISSIONS</h3>

<form class="form-inline my-2 my-lg-0" method="POST" action="/viewassessmentsubmissions/">
	{% csrf_token %}
	<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
		<input type="hidden" name="year" value="{{form.year.value}}" readonly>
		<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
		<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
		
		<input type="hidden" name="assessment_id" value="{{aform.assessment_id.value}}" readonly>
		<input type="hidden" name="description" value="{{aform.description.value}}" readonly>
		<input type="hidden" name="language" value="{{aform.language.value}}" readonly>
		<input type="hidden" name="marks" value="{{aform.marks.value}}" readonly>
		<input type="hidden" name="due_date" value="{{aform.due_date.value}}" readonly>
	<select class="form-control" id="filteroption" name="filteroption" style="width: 10%; margin-left: 40px; margin-right: 10px;">
		<option value="search_submission_id">Submission ID</option>
	</select>
	<input class="form-control mr-sm-2" name="search" id="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button>
</form>

<div class="unitsettingsblock">
	{% for submissions in submissions_list %}
	<form name="submission" method="POST" action="/viewassessmentsubmissions/">
		{% csrf_token %}
		<input type="hidden" name="unit_id" value="{{form.unit_id.value}}" readonly>
		<input type="hidden" name="year" value="{{form.year.value}}" readonly>
		<input type="hidden" name="semester" value="{{form.semester.value}}" readonly>
		<input type="hidden" name="unit_name" value="{{form.unit_name.value}}" readonly>
		
		<input type="hidden" name="marks" value="{{aform.marks.value}}" readonly>
		<input type="hidden" name="description" value="{{aform.description.value}}" readonly>
		<input type="hidden" name="language" value="{{aform.language.value}}" readonly>
		<input type="hidden" name="due_date" value="{{aform.due_date.value}}" readonly>
		
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Assessment <input type="hidden" name="assessment_id" value="{{submissions.assessment_id}}" readonly>{{submissions.assessment_id}}</input> | Submission ID: <input type="hidden" name="submission_id" value="{{submissions.submission_id}}" readonly>{{submissions.submission_id}}</input></h5>
				<small class="text-muted"><input type="hidden" name="student_id" value="{{submissions.student_id}}" readonly>{{submissions.student_id}}</input></small>
			</div>
			<p class="mb-1"><input type="hidden" name="submission" value="{{submissions.submission}}" readonly>{{ submissions.submission }}</p>
			{% if submissions.feedback == '' %}
			<p class="mb-1">Feedback: <input type="hidden" name="feedback" value="''" readonly>{{ submissions.feedback }}</p>
			{% else %}
			<p class="mb-1">Feedback: <input type="hidden" name="feedback" value="{{submissions.feedback}}" readonly>{{ submissions.feedback }}</p>
			{% endif %}
			<p class="mb-1">Running Output: <input type="hidden" name="running_output" value="{{submissions.running_output}}" readonly>{{submissions.running_output}}</input></p>
			{% if submissions.marks == -1 %}
				<small class="text-muted">Mark: <input type="hidden" name="mark" value="-1" readonly>Unmarked</input> | Created: {{submissions.created}} | Memory Usage: <input type="hidden" name="memory_usage" value="{{submissions.memory_usage}}" readonly>{{submissions.memory_usage}}</input> | Attempts: {{submissions.attempts_made}}</small>
			{% else %}
				<small class="text-muted">Mark: <input type="hidden" name="mark" value="{{submissions.mark}}" readonly>{{submissions.mark}}</input> | Created: {{submissions.created}} | Memory Usage: <input type="hidden" name="memory_usage" value="{{submissions.memory_usage}}" readonly>{{submissions.memory_usage}}</input> | Attempts: {{submissions.attempts_made}}</small>
			{% endif %}
			</a>
	</form>
	{% endfor %}
</div>
{% endblock %}
		